<nav class="navbar">
  
  
    <input class="form-control" type="text" name="prodouctName" [(ngModel)]="prodouctName" (ngModelChange)="Search()"
  placeholder="اسم المنتج">
  
  
   </nav> 
  
  <table class="table table-bordered" >
    <thead>
            <tr>
              <th>كود  العميل</th>
    
         <th (click)="sort('prodouctName')">اسم المنتج&nbsp;<i class="fa fa-sort"></i></th>
         <th>تاريخ الاصدار</th>
        <th>تعديل</th>
   
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let _ListProductsPagging of ListProductsPagging | orderBy: key: reverse | paginate :{itemsPerPage:5,currentPage:p};">
  
               
                 <td>{{_ListProductsPagging.prodouctsID}}</td>       
                <td>{{_ListProductsPagging.prodouctName}}</td>  
                <td>{{_ListProductsPagging.dateAdd}}</td>     
                <td >
                    
                    <button class="btn btn-block btn-warning" 
                    [routerLink]="['/pages/UpdateProduct/', _ListProductsPagging.prodouctsID]">تعديل</button>
                  </td>   

          
     

                  
             </tr>
        </tbody>
        
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
        </table>