<nav class="navbar">
  
  
    <input class="form-control" type="text" name="customerName" [(ngModel)]="customerName" (ngModelChange)="Search()"
  placeholder="اسم العميل">
  
  
   </nav> 
  
  <table class="table table-bordered" >
    <thead>
            <tr>
              <th>كود  العميل</th>
    
         <th (click)="sort('customerName')">اسم العميل&nbsp;<i class="fa fa-sort"></i></th>
         <th>تاريخ الاصدار</th>
        <th>حالة القرض</th>
   
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let _PaymentOfistallmentsPagging of PaymentOfistallmentsPagging | orderBy: key: reverse | paginate :{itemsPerPage:5,currentPage:p};" >
 

<ng-container *ngIf="_PaymentOfistallmentsPagging.statusLona ==0; then IssuanceLona; else completeLona;">

</ng-container>

<ng-template #IssuanceLona>
fgffg
  <td >{{_PaymentOfistallmentsPagging.lonaId}}</td>       
  <td>{{_PaymentOfistallmentsPagging.customerName}}</td>  
  <td>{{_PaymentOfistallmentsPagging.dateAdd}}</td>     


 <button class="btn btn-primary"  [routerLink]="['/pages/AddNewPayment/', _PaymentOfistallmentsPagging.paymentId]">قرض مفتوح</button>
 
  
</ng-template>
               
<ng-template #completeLona>

  <td >{{_PaymentOfistallmentsPagging.lonaId}}</td>       
  <td>{{_PaymentOfistallmentsPagging.customerName}}</td>  
  <td>{{_PaymentOfistallmentsPagging.dateAdd}}</td>     


 <button class="btn btn-success"  [routerLink]="['/pages/AddNewPayment/', _PaymentOfistallmentsPagging.paymentId]">قرض مدفوع</button>
 

</ng-template>

            
             </tr>
        </tbody>
        
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
        </table>