<!-- <!doctype html>
<html lang="en">
  <head>
    <base href="/">
     <meta charset="utf-8">
  
    <title>شاشة اضافة فرع جديد!</title>
  </head>
  <body> -->


<form [formGroup]="branchForm">
  <div class="container register" dir="rtl" >
    <div class="row ">
        <div class="col-md-3 register-left">

          <h3>Welcome</h3>
            <p class="register-heading">شاشة اضافة فرع جديد </p>
           <!-- <input type="submit" name="" value="Login"/><br/>  -->
        </div>
        <div class="col-md-9 register-right" dir="rtl">
        
 <div class="tab-content" id="myTabContent" >
                <!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">       -->
                              <h3 class="register-heading" >اضافة فرع جديد </h3>
                  <div class="row register-form">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-Lable">كود الفرع *</label>

<input type="number" class="form-control" placeholder="ادخل كود الفرع بالارقام " formControlName="branchCode" />              
                          </div>
            <div class="form-group">
              <label class="form-Lable" >اسم الفرع *</label>
          
<input  type="text" class="form-control" placeholder=" اسم الفرع*" formControlName="branchName" />
</div>
<!-- <div class="form-group">
  <input type="text" name="branchAddress" class="form-control" placeholder="عنوان الفرع *"
  formcontrolName="branchAddress" />
  </div> -->
  <div class="form-group">
    <label class="form-Lable" >عنوان الفرع *</label>

  <input formControlName="branchAddress" name="branchAddress"  class="form-control" placeholder="عنوان الفرع *" />  

                      </div> 

                    </div> 
<div class="col-md-6">

    <div class="form-group ">
      <label class="form-Lable">الهاتف *</label>

<input name="branchPhone" type="text" minlength="10" maxlength="10"   class="form-Phone" placeholder="الهاتف  *"   formControlName="branchPhone" />
</div>
<div class="form-group">
  <label class="form-Lable">  المخزن التابع للفرع *</label>
   
  <select  formControlName="dropdownSTores" class="form-control" (focusout)="FilldropdownSTores()"> 
      <option [ngValue]="null" disabled>يرجى الاختيار</option>
      <option *ngFor="let _gETALLMasterOFSTores of _ObjectGETALLManageStore" [ngValue]="_gETALLMasterOFSTores.manageStoreID">{{_gETALLMasterOFSTores.manageStorename}}</option>
    </select>
 
                           
  
</div>
<div class="form-group">
  <!-- <label class="form-Lable">رقم المخزن *</label>

  <input type="text" class="form-control" placeholder="masterOFSToresID" formControlName="masterOFSToresID" /> -->

<label class="form-Lable">رقم المحمول *</label>
<input type="text" formControlName="branchMobile" name="branchMobile" class="form-control" placeholder=" رقم المحمول *"   />      
                    </div>
                    <!-- <div class="form-group"> -->
 <!-- <input type="text" class="form-control" placeholder="`Answer *" value="" /> -->
                  <!-- </div> -->
<input type="submit" class="btnRegister"    value="اضافة" (click)="ADDBranche()"/>

</div>
</div>
</div>

</div>
</div>

  </div>


 </form>

<!-- </body>
</html>  -->
 