<nav class="navbar">
  
  
    <input class="form-control" type="text" name="customerName" [(ngModel)]="customerName" (ngModelChange)="Search()"
  placeholder="اسم العميل">
  
  
   </nav> 
  
  <table class="table table-bordered" >
    <thead>
            <tr>
              <th>كود  العميل</th>
    
         <th (click)="sort('customerName')">اسم العميل&nbsp;<i class="fa fa-sort"></i></th>
         <th>تاريخ الاصدار</th>
        <th>حالة القرض</th>
   
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let _PaymentOfistallmentsPagging of PaymentOfistallmentsPagging | orderBy: key: reverse | paginate :{itemsPerPage:5,currentPage:p};">
  
               
                 <td>{{_PaymentOfistallmentsPagging.lonaId}}</td>       
                <td>{{_PaymentOfistallmentsPagging.customerName}}</td>  
                <td>{{_PaymentOfistallmentsPagging.dateAdd}}</td>     

                <td *ngIf="_PaymentOfistallmentsPagging.statusLona ==1">
               <button class="btn btn-primary"  [routerLink]="['/pages/Removeistallments/', _PaymentOfistallmentsPagging.paymentId]">قرض مفتوح</button>
                </td>     

                  
             </tr>
        </tbody>
        
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
        </table>